@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Classes for Roboto Flex */
.roboto-flex-light {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; /* Light weight */
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
  }
  
  .roboto-flex-regular {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Regular weight */
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
  }
  
  .roboto-flex-bold {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Bold weight */
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
  }
  